

<div class="row">
	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%= render 'navigation/teams_sidebar_nav' %>
	</div>

	<div ng-controller="TeamIndexController">

		<div class="col-sm-7">
			<team class="team-list" ng-repeat="team in teams">

			</team>
			


		</div>

		<div class="col-sm-2 sidebar">
			<%= render 'navigation/users_sidebar_nav' %>
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

		$("#designers, .team-list").sortable({
			connectWith: ".connected-sortable",
	receive: function(event, ui) {
		// $.post("teams/" + $(this).data("team-id") + "/add_designer", {"user_id": ui.item.data("designer-id")});
	}
});

	});

</script>

<!-- trying something else here with multiSortable.js but not implemented ATM  -->
<script type="text/javascript" charset="utf-8">
jQuery(function() {
  jQuery('.sidebar li').each(function() {
    var href = jQuery(this).find('a').attr('href');
    if (href === window.location.pathname) {
      jQuery(this).addClass('current');
    }
  });
});  

</script>