<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%= render 'navigation/teams_sidebar_nav' %>
	</div>

	<div ng-controller="TeamIndexController">

		<div class="col-sm-7">
			<team ng-repeat="team in teams">
			</team>
		</div>

		<div class="col-sm-3">
			<ul ng-model="designers" id="designers-list">
				<li ng-model="designers" ng-repeat="designer in designers">
					{{designer.first_name}} {{designer.last_name}}
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
$("#designers-list, .team-list").sortable({
	connectWith: ".connected-sortable",
	receive: function(event, ui) {
		$.post("teams/" + $(this).data("team-id") + "/add_designer", {"user_id": ui.item.data("designer-id")});
	}
});
</script>