<div class="page-wrapper">

	<div class="col-sm-2">

		<div class="btn-group calTools">
			<button type="button" class="btn btn-primary" ng-click="addEvent()">
				Add Event
			</button>
		</div>

		<ul class="unstyled">
			<li ng-repeat="e in events">
				<div class="alert alert-info">
					<a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
					<b> <input ng-model="e.title"></b> 
					{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
				</div>
			</li>
		</ul>

	</div>
	<div class ="col-sm-10">
		<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
			<h4>{{alertMessage}}</h4>
		</div>
		<div class="btn-toolbar">
		<p class="pull-right lead">View Options</p>
			<div class="btn-group">
				<button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
				<button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
				<button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
			</div>
		</div>
		<div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
	</div>
</div>
