<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a href="/projects/{{project.id}}">{{project.client.organization.name}}</a>	
			<button class="pull-right remove-button">
				<span class="pull-right glyphicon glyphicon-remove" ng-click="delete($index, project.id)"></span>
			</button>
		</h3>
	</div>
	<div class="card panel-body">
		<div class="row">
			<ul>
				<li>
					<div class="bold col-xs-6"><span class="glyphicon glyphicon-picture"></span>Medium</div>
					<div class="col-xs-6">{{project.mediums_json[0]}}</div>
				</li>
				<li>
					<div class="bold col-xs-6"><span class="glyphicon glyphicon-calendar"></span>Due Date</div>
					<div class="col-xs-6">{{project.due_date}}</div>
				</li>
				<li>
					<div class="bold col-xs-6"><span class="glyphicon glyphicon-list"></span>Team</div>
					<div class="col-xs-6">{{project.team.name}}</div>
				</li>
				<li>
				<div class="bold col-xs-6"><span class="glyphicon glyphicon-user"></span>Designer</div>
					<div class="col-xs-6">{{project.user.first_name}} {{project.user.last_name}}</div>
				</li>
				<li>
					<div class="bold col-xs-6"><span class="glyphicon glyphicon-unchecked"></span>Status</div>
					<div class="col-xs-6">{{project.status}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>
