<%= render "shared/navbar" %>
<div id="policies">
	<div class="row static-header">
		<h1>Our Policies</h1>
	</div>
	<hr/>
	<div class="row">
		<h2><em>Things that are good to know!</em></h2>
	</div>
	<div class="row static-content" id="policies-content">
		<ul>
			<li>We do not do printing or placement of materials of any sort.</li>
			<li>Logo designs require a 10 business day minimum, student organizations require a 15 business day minimum, and all other print designs require a 5 business day minimum to be delivered. This begins the day after submission of the project request.</li>
			<li>We reserve the right to cancel a project if a client does not respond to us within two weeks of contact, including after sending drafts.</li>
			<li>If you request something outside of the scope of your original project request, the designer has the right to deny that addition. For example, if you request a website and after you meet with a designer, you also want him/her to create a logo. In these cases, please fill out another project request.</li>
			<li>DiDA serves undergraduate chartered and recognized student groups.</li>
		</ul>
	</div>
</div>
<div id="policies-services">
	<div class="row static-header">
		<h1>Our Services</h1>
	</div>
	<hr/>
	<div class="row static-subheader">
		<h2><em>We can make whatever you like.</em></h2>
	</div>
	<div class="row static-content" id="policies-services-content">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3>Posters, Large Flyers &amp; Small Flyers</h3>
				<ul>
					<li>The standard size of a DiDA-designed poster is 11” x 17”.</li>
					<li>The standard size of a DiDA-designed large flyer is 8.5” x 14”.</li>
					<li>The standard size of a DiDA-designed small flyer is 8.5” x 11”.</li>
					<li>For the University’s policies regarding the display of your posters, flyers and leaflets around campus, refer to the advertising policies in the DCS Guide.</li>
					<li>DiDA does not provide printing services. Refer to FedEx Office, Office Max or the Duke Copy Center for prints.</li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<h3>Banners</h3>
				<ul>
					<li>Banners may be hung on the exterior, Plaza-facing side of the Bryan Center, or above the staircase connecting the Bryan Center’s second and third floors.</li>
					<li>DiDA can design banners of any size. Common dimensions are 4’ x 6’ and 5’ x 8’.</li>
					<li>Indoor/outdoor vinyl banners cost approximately $10 per square foot at FedEx Office or Office Max.</li>
					<li>In addition to production costs, there is a charge for the hanging and removal of banners. Refer to the Bryan Center Banner Policy for more information and to reserve space.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3>The Chronicle Ads</h3>
				<ul>
					<li>While The Chronicle offers advertisement options ranging from 1/8 page to full page, most student groups ask us to design 1/4 page ads which are approximately 5″ x 7″.</li>
					<li>After we have completed the design of your ad, submit it to The Chronicle‘s advertising office by email (advertising@chronicle.duke.edu) no later than three business days prior to your requested run date. The advertising office is located in room 101 of the West Union Building and can be reached by phone at 919-684-3811.</li>
					<li>The special student organization rate for a black and white 1/4 page ad is $50, full color 1/4 page ad is $100, and Sudoku ad is $75.</li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<h3>Dining Hall Table Tents</h3>
				<ul>
					<li>The standard size of table tents for the Plexiglas displays in the Great Hall and East Marketplace is 3.6” wide by 8.5” tall.</li>
					<li>The standard size of table tents for the napkin dispenser displays in the Great Hall is 4.25” wide by 6.25” tall.</li>
					<li>To obtain permission to place table tents in the Great Hall and/or Marketplace, complete a Table Tent Campaign Application at least two weeks in advance. This form is available in DiDA as well as in the Dining Services office.</li>
					<li>Student organizations must install and remove table tents themselves.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3>Bus Advertisments</h3>
				<ul>
					<li>The standard size of a bus ad is 11” tall and at least 22” wide, and they must be laminated.</li>
					<li>Bus ads are typically full-color and contain only the most pertinent text.</li>
					<li>Bus advertisements appear on the interior of each of Duke Transit’s buses, along the display panels near the ceiling.</li>
					<li>One set of 25 bus ads costs approximately $300 to print at the Office Max located at 5458 New Hope Commons Drive. Be sure to identify yourself as a Duke student when you place your order, as the quoted price reflects the Duke discount.</li>
					<li>Duke Transportation charges $75 to install one set of bus ads for one month. To reserve space for your organization’s bus ads, review Transportation Services’ policies and procedures and complete the form.</li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<h3>T-Shirt Designs</h3>
				<ul>
					<li>
						Upon DiDA’s completion of your t-shirt design, you will need to contact a vendor for pricing and production information. Be sure to provide your vendor with the following details:
						<ul>
							<li>A high-resolution file containing your t-shirt graphic</li>
							<li>Quantity of t-shirts you plan to order</li>
							<li>Desired t-shirt color</li>
							<li>How many colors of ink you anticipate having printed on them</li>
							<li>Which sections of the shirt you’d like to have printed</li>
						</ul>
					</li>
					<li>T-shirts and promotional items can be costly to produce, and typically require a minimum of two weeks for production and shipping.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3>Logo Designs</h3>
				<ul>
					<li>Logos are a great way to brand your organization. Keep in mind that these will be used on all of your publicity materials and should encompass your organization’s mission.</li>
					<li>Logo design can take DiDA as little as two weeks or as long as several months, depending upon the complexity of your logo and the efficiency of your communications with us.</li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<h3>Student Organization Websites</h3>
				<ul>
					<li>Sign up for a domain name before making a web request.</li>
					<li>Website design can take DiDA as little as two weeks or as long as several months, depending upon the complexity of your site and the efficiency of your communications with us.</li>
					<li>We can design your organization’s website using WordPress. Upon submitting a project request, we will follow up with you to schedule a meeting to discuss the details of your group’s website needs and expectations.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
