<%= render "shared/navbar" %>
<div id="team">
	<div class="row">
		<h1>Our Team</h1>
	</div>
	<hr>
	<div class="row">
		<h2><em>Meet our DiDA Designers!</em></h2>
	</div>
	<div class="row" id="team-content">
		<div class="row">
			<div class="col-xs-12">
				<h3>UCAE Manager</h3>
			</div>
			<div class="col-xs-12">
				<img src="profiles/kyle.png">
				<h4>Kyle Fox</h4>
				<p>UCAE Associate Director</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Leaders</h3>
			</div>
			<div class="col-xs-6">
				<img src="profiles/ann.png">
				<h4>Ann Niou</h4>
				<p>Lead Manager</p>
			</div>
			<div class="col-xs-6">
				<img src="profiles/ashley.png">
				<h4>Ashley Qian</h4>
				<p>Lead Mentor</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Print Design Team</h3>
			</div>
			<div class="col-xs-6">
				<img src="profiles/elizabeth.png">
				<h4>Elizabeth McGlamry</h4>
				<p>Print Manager</p>
			</div>
			<div class="col-xs-6">
				<img src="profiles/courtney.png">
				<h4>Courtney Fehsenfeld</h4>
				<p>Print Mentor</p>
			</div>
			<div class="col-xs-6">
				<img src="profiles/chelsia.png">
				<h4>Chelsia Yu</h4>
				<p>Print Manager</p>
			</div>
			<div class="col-xs-6">
				<img src="profiles/natasia.png">
				<h4>Natasia Leung</h4>
				<p>Print Mentor</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/alex.png">
				<h4>Alex Lark</h4>
				<p>Senior Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/meaghan.png">
				<h4>Meaghan Li</h4>
				<p>Senior Print Designer</p>
			</div>
			
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/alexa.png">
				<h4>Alexa Levy</h4>
				<p>Senior Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/elysia.png">
				<h4>Elysia Su</h4>
				<p>Senior Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/stephen.png">
				<h4>Stephen Chen</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/tajj.png">
				<h4>Tajj Badil-Abish</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/lindsey.png">
				<h4>Lindsey	Brown</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/jane.png">
				<h4>Jane Upshur</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/stephanie.png">
				<h4>Stephanie Wu</h4>
				<p>Print Designer</p>
				<strong><small><em>Former Plaza Board Painter</em></small></strong>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/clay.png">
				<h4>Clay Pickney</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/chenguang.png">
				<h4>Chenguang Liang</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<img src="profiles/bec.png">
				<h4>Rebecca Lai</h4>
				<p>Print Designer</p>
			</div>
			<div class="col-xs-12">
				<img src="profiles/ilana.png">
				<h4>Ilana Weisman</h4>
				<p>Print Designer</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Web Design Team</h3>
				</div>
				<div class="col-xs-12">
					<img src="profiles/eric.png">
					<h4>Eric Wu</h4>
					<p>Web Manager</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/avi.png">
					<h4>Avi	Moondra</h4>
					<p>Web Designer</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/michael.png">
					<h4>Michael Marion</h4>
					<p>Web Designer</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/daniel.png">
					<h4>Daniel Zhang</h4>
					<p>Web Designer</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Alumni</h3>
				</div>
				<div class="col-xs-12">
					<img src="profiles/jackie.png">
					<h4>Jackie Giusti</h4>
					<p>Web Designer 2013</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/angie.png">
					<h4>Angie Yu</h4>
					<p>Director of Operations 2013</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/jeff.png">
					<h4>Jeffery Nash</h4>
					<p>Director of Marketing 2013</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<img src="profiles/lihkita.png">
					<h4>Likhita Kommidi</h4>
					<p>Director of Personal Development 2013</p>
				</div>
				<div class="col-xs-12">
					<img src="profiles/rebecca.png">
					<h4>Rebecca	Kuzemchak</h4>
					<p>Plaza Board Project Manager 2013</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/filler.svg">
					<h4>Keara Mageras</h4>
					<p>Senior Plaza Board Painter 2013</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/sharon.png">
					<h4>Sharon Chan</h4>
					<p>Senior Plaza Board Painter 2013</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/ishan.png">
					<h4>Ishan Kapoor</h4>
					<p>Senior Print Designer 2013</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/star.png">
					<h4>Starlyn Matheny</h4>
					<p>Senior Print Designer 2013</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/jonathan.png">
					<h4>Jonathan Lee</h4>
					<p>Director of Operations 2012</p>
				</div>
				<div class="col-xs-6">
					<img src="profiles/helen.png">
					<h4>Helen Ho</h4>
					<p>Director of Personal Development 2012</p>
				</div>
			</div>
		</div>
	</div>