<div class="col-lg-6 col-sm-6" id="form-print-container">
	<div>
		<a class="form-selector" id="form-print-selector"><h3 class="form-label">Print</h3></a>
		<p class="form-subtext">This is for any printable medium: posters, banners, flyers, bus ads, t-shirts, logos, you name it!</p>
	</div>
</div>
<div class="col-lg-6 col-sm-6" id="form-web-container">
	<div>
		<a class="form-selector" id="form-web-selector"><h3 class="form-label">Web</h3></a>
		<p class="form-subtext">This for when you want a sleek and sexy website designed or just some advice.</p>
	</div>
</div>
<div class="col-xs-6 col-lg-6 pull-left back" id="choose-project-back">
	<h3><i class="icon-double-angle-left back-arrow" id="back-arrow"></i>Back</h3>
</div>
<div class="col-xs-6 col-lg-6 pull-right next" id="choose-project-next">
	<h3>Next<i class="icon-double-angle-down next-arrow" id="choose-next"></i></h3>
</div>
