<div class="col-xs-12">
	<form class="form-horizontal" data-validate="parsley" id="details-form">
		<div class="form-group">
			<label for="input-org-description" class="col-lg-4 control-label">Briefly describe your organization.</label>
			<div class="col-lg-7">
				<textarea name="orgDescription" class="form-control" id="input-org-description" rows="2" data-rangelength="[0,2000]"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label id="label-project-direction" for="input-project-direction" class="col-lg-4 control-label">What are you publicizing? Who are you targeting? What is the purpose of the product you are requesting?</label>
			<div class="col-lg-7">
				<textarea name="projectDirection" type="text" class="form-control" id="input-project-direction" rows="3" data-rangelength="[0,2000]"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label id="label-project-details" for="input-project-details" class="col-lg-4 control-label">Describe the look and feel and the required text for your product. If you're requesting apparel design, what colors do you want used?</label>
			<div class="col-lg-7">
				<textarea name="projectDetails" type="text" class="form-control" id="input-project" rows="3" data-rangelength="[0,2000]"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="input-file-upload" class="col-lg-4 control-label">Attach any relevant files here.</label>
			<div class="col-lg-7">
				<input name="projectFiles" type="file" id="input-file-upload">
			</div>
		</div>
		<div class="form-group">
			<label for="input-due-date" class="col-lg-4 control-label">By what date must you have your product?</label>
			<div class="col-lg-7">
				<input name="dueDate" type="date" class="form-control" id="input-due-date" data-required="true"></input>
			</div>
		</div>
			<div class="checkbox">
				<label>
					<div class="col-lg-4 control-label">
						<input type="checkbox" data-mincheck="1" data-group="agreement-check">
					</div>
					<div class="col-lg-7" id="logistics-agreement">
						I understand that DiDA has a 2 week (10 business day) minimum turnaround for logo designs and a 1 week (5 business day) minimum turnaround for other Print requests.
					</div>
				</label>
			</div>
	</form>
</div>
<div class="col-xs-6 col-lg-6 submit pull-right">
	<h3 id="form-submit">Submit<i class="icon-double-angle-right submit-arrow"></i></h3>
</div>