<div class="col-xs-12">
	<form class="form-horizontal" data-validate="parsley" id="medium-form">
		<div class="col-xs-4">
		<div class="checkbox">
			<label><input name="mediumPoster" type="checkbox" data-mincheck="1" data-group="print-check" value="Poster">Poster</label>
		</div>
		<div class="checkbox">
			<label><input name="mediumLargeFlyer" type="checkbox" data-group="print-check" value="Flyer">Large Flyer</label>
		</div>
		<div class="checkbox">
			<label><input name="mediumSmallFlyer" type="checkbox" data-group="print-check" value="Leaflet">Small Flyer</label>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label><input name="mediumBanner" type="checkbox" data-group="print-check" value="Banner">Banner</label>
		</div>
		<div class="checkbox">
			<label><input name="mediumChronicle" type="checkbox" data-group="print-check" value="The Chronicle Ad">The Chronicle Ad</label>
		</div>
		<div class="checkbox">
			<label><input name="mediumTable" type="checkbox" data-group="print-check" value="Dining Hall Table Tent">Dining Hall Table Tent</label>
		</div>
		<div class="checkbox">
			<label><input name="mediumOther" type="checkbox" data-group="print-check" value="Other">Other</label>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check" value="Bus Ad">Bus Ad</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check" value="T-Shirt">T-Shirt</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check" value="Logo">Logo</label>
		</div>
	</div>
	</form>
</div>
<div class="col-xs-6 col-lg-6 pull-right next" id="project-medium-next">
	<h3>Next<i class="icon-double-angle-down next-arrow"></i></h3>
</div>