<div id="progress-print">
	<ul>
		<li id="print-step-1" class="teal-1">
			<div>
				<p>Step 1</p>
				<h4>Basic Info</h4>
			</div>
		</li>
		<li id="print-step-2" class="teal-2">
			<div>
				<p>Step 2</p>
				<h4>Project Medium</h4>
			</div>
		</li>
		<li id="print-step-3" class="teal-3">
			<div>
				<p>Step 3</p>
				<h4>Project Details</h4>
			</div>
		</li>
	</ul>
</div>
<div id="progress-web">
	<ul>
		<li id="web-step-1" class="red-1">
			<div>
				<p>Step 1</p>
				<h4>Basic Info</h4>
			</div>
		</li>
		<li id="web-step-2" class="red-2">
			<div>
				<p>Step 2</p>
				<h4>Project Details</h4>
			</div>
		</li>
	</ul>
</div>