<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%=render 'navigation/projects_sidebar_nav' %>
	</div>

	<div class="col-sm-9">

		<div ng-controller="ProjectIndexController">
			<h1 class="project-group-label">Unassigned</h1>
			<div id="unassigned" class="project-group">
				<unassigned ng-repeat="project in projects | filter:{status:'unassigned'}" ng-model="project">
				</unassigned>
			</div>
			
			<h1 class="project-group-label">Assigned</h1>
			<div id="assigned" class="project-group">
				<assigned ng-repeat="project in projects | filter:{status:'assigned'}:true" ng-model="project">
				</assigned>
			</div>
			
			<h1 class="project-group-label">Archived</h1>
			<div id="archived">
			</div>
		</div>
	</div>
		<div class="col-sm-1">
</div>