<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%=render 'navigation/projects_sidebar_nav' %>
	</div>

	<div class="col-sm-10">

		<div ng-controller="ProjectIndexController">
			<h2 id="unassigned" class="row project-group-label">Unassigned</h2>
			<div class="row project-group">
				<unassigned class="col-sm-4" ng-repeat="project in projects | filter:{status:'unassigned'}" ng-model="project"></unassigned>
			</div>
			
			<h2 id="assigned" class="row project-group-label">Assigned</h2>
			<div class="row project-group">
				<assigned class="col-sm-4" ng-repeat="project in projects | filter:{status:'assigned'}:true" ng-model="project"></assigned>
			</div>
			
			<h2 id="archived" class="row project-group-label">Archived</h2>
			<div class="row project-group">
			</div>
		</div>
	</div>
</div>