  <div class="row">
    <div class="col-sm-2">
      <%=render 'navigation/projects_sidebar_nav' %>
    </div>
    <div class="col-sm-10">
     <div class="section">
       <div class="page-header">
        <h1 class"unassigned"><a href="unassigned">Unassigned</a></h1>
      </div>
      <div class="well">
        <div class="project">
          <h3 class="proj-title"></h3>
          <h4 class="due-date"></h4>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Designer</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Bob</a></li>
              <li><a href="#">Tom</a></li>
              <li><a href="#">Jerry</a></li>
              <li><a href="#">Ben</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Team</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Print 1</a></li>
              <li><a href="#">Print 2</a></li>
              <li><a href="#">Web</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Status</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Not Started</a></li>
              <li><a href="#">Contacted Client</a></li>
              <li><a href="#">Draft</a></li>
              <li><a href="#">Finished</a></li>
            </ul>
          </div>

          <div class="medium">Project Medium</div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="page-header">

        <h1 class="assigned"><a href="#assigned">Assigned</a></h1>
      </div>
      <div class="well">
        <div class="project">
          <h3 class="proj-title">Project 1</h3>
          <h4 class="due-date">Due Date</h4>


          <div class="btn-group">
            <button type="button" class="btn btn-danger">Designer</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Bob</a></li>
              <li><a href="#">Tom</a></li>
              <li><a href="#">Jerry</a></li>
              <li><a href="#">Ben</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-danger">Team</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Print 1</a></li>
              <li><a href="#">Print 2</a></li>
              <li><a href="#">Web</a></li>
            </ul>
          </div>



          <div class="btn-group">
            <button type="button" class="btn btn-danger">Status</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Not Started</a></li>
              <li><a href="#">Contacted Client</a></li>
              <li><a href="#">Draft</a></li>
              <li><a href="#">Finished</a></li>
            </ul>
          </div>

          <div class="medium">Project Medium</div>
        </div><!--end project-->


      </div><!-- end well-->
    </div><!--end section-->

    <div class="section">
      <div class="page-header">
        <h1 class="archived"><a href="#archived">Archived</a></h1>
      </div>
      <div class="well">
        <div class="project">
          <h3 class="proj-title">Project 1</h3>
          <h4 class="due-date">Due Date</h4>


          <div class="btn-group">
            <button type="button" class="btn btn-danger">Designer</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Bob</a></li>
              <li><a href="#">Tom</a></li>
              <li><a href="#">Jerry</a></li>
              <li><a href="#">Ben</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-danger">Team</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Print 1</a></li>
              <li><a href="#">Print 2</a></li>
              <li><a href="#">Web</a></li>
            </ul>
          </div>



          <div class="btn-group">
            <button type="button" class="btn btn-danger">Status</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Not Started</a></li>
              <li><a href="#">Contacted Client</a></li>
              <li><a href="#">Draft</a></li>
              <li><a href="#">Finished</a></li>
            </ul>
          </div>

          <div class="medium">Project Medium</div>
        </div><!--end project-->


      </div><!-- end well-->
    </div><!--end section-->

  </div><!-- end projects column -->
</div><!-- end row -->
