<div id="form-success">
	<div class="col-xs-12">
		<h1>Success! We've gotten your request!</h1>
		<p class="lead">We've sent you a verification e-mail and a designer will be in touch with you shortly. </p>
		<a href="/request"><h3><i class="icon-double-angle-left restart-arrow"></i>Would you like to submit another request?</h3></a>
	</div>
</div>
