<div id="about">
	<div class="row">
		<h1>About Us</h1>
	</div>
	<hr>
	<div class="row">
		<h2><em>DiDA is...</em></h2>
	</div>
	<div class="row" id="mission-content">
		<div class="mission row">
			<div class="col-lg-5">
				<img src="images/about-1.svg">
			</div>
			<div class="col-lg-7">
				<div class="mission-header">
					<h3>an amazing design service for student organizations at Duke.</h3>
				</div>
				<div class="mission-text">
					<p>
						DiDA helps recognized student organizations establish their graphic identities and publicize their programs and events by offering creative Duke-specific branding and marketing solutions. Designers work with student organization representatives to determine each group’s marketing needs and preferences.
					</p>
				</div>
			</div>
		</div>
		<div class="mission row">
			<div class="col-lg-5">
				<img src="images/about-2.svg">
			</div>
			<div class="col-lg-7">
				<div class="mission-header">
					<h3>a supportive learning community for its own passionate designers.</h3>
				</div>
				<div class="mission-text">
					<p>
						DiDA creates an environment for its student employees who wish to learn more about marketing and hone their design skills. Through workshops, mentoring, and other resources our student designers have ample opportunity to improve their craft.
					</p> 
				</div>
			</div>
		</div>
		<div class="mission row">
			<div class="col-lg-5">
				<img src="images/about-3.svg">
			</div>
			<div class="col-lg-7">
				<div class="mission-header">
					<h3>a resource for those at Duke who want to know more about design.</h3>
				</div>
				<div class="mission-text">
					<p>
						DiDA not only cares for its own designers, but plays a role in spreading an appreciation for visual arts and creativity through design seminars that are open to the entire Duke community.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>