<div class="row window" id="intro">
	<div class="content">
		<div class="col-xs-12 welcome">
			<h1 id="welcome-line-1">
				Welcome to the
			</h1>
			<h1 id="welcome-line-2">
				Duke Innovative Design Agency
			</h1>
		</div>
		<div class="col-xs-12">
			<p id="description">
				The only student-run marketing and design center for student organizations at Duke University
			</p>
		</div>
		<div class="row">
			<div class="col-xs-12 down">
				<i class="fa fa-angle-down fa-4x" id="intro-down"></i>
			</div>
		</div>
	</div>
</div>
<div class="row window" id="why">
	<div class="content">
		<div class="col-xs-12">
			<h1 class="home-header">Why DiDA?</h1>
			<h2 class="home-subheader">Isn't it obvious?</h2>
		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="images/satisfaction.svg">
			<p class="why-text">We're freakin' talented.<br>Satisfaction guaranteed.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="images/free.svg">
			<p class="why-text">Our services are free to<br>undergraduate student organizations.</p>
		</div>
		<div class="row">
			<div class="col-xs-12 down">
				<i class="fa fa-angle-down fa-4x" id="why-down"></i>
			</div>
		</div>
	</div>
</div>
<div class="row window" id="services">
	<div class="content">
		<div class="col-xs-12">
			<h1 class="home-header">We can design anything.</h1>
			<h2 class="home-subheader">You name it, we'll design it.</h2>
		</div>
		<div class="row" id="services-content">
			<div class="col-xs-12 col-sm-6 services-group" id="services-group-1">
				<div class="services-banner-container">
					<div class="l-triangle-top services-ribbon-top-1"></div>
					<div class="l-triangle-bottom services-ribbon-bottom-1"></div>
					<div class="rectangle">
						<h3 class="services-header" id="services-header-1">Print</h3>
					</div>
					<div class="r-triangle-top services-ribbon-top-1"></div>
					<div class="r-triangle-bottom services-ribbon-bottom-1"></div>
				</div>
				<div class="col-xs-12 services-content">
					<p>
						Want promotional materials for your organization or an event? We'll give you a design that you can plaster all over the walls, buildings and even the students at Duke!
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 services-group" id="services-group-2">
				<div class="services-banner-container">
					<div class="l-triangle-top services-ribbon-top-2"></div>
					<div class="l-triangle-bottom services-ribbon-bottom-2"></div>
					<div class="rectangle">
						<h3 class="services-header" id="services-header-2">Web</h3>
					</div>
					<div class="r-triangle-top services-ribbon-top-2"></div>
					<div class="r-triangle-bottom services-ribbon-bottom-2"></div>
				</div>		
				<div class="col-xs-12 services-content">
					<p>
						Need to put up information about your organization on the internet and have it to look absolutely smashing? DiDA can help! We also offer web design consultations.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 down">
				<i class="fa fa-angle-down fa-4x" id="services-down"></i>
			</div>
		</div>
	</div>
</div>
<div class="row window" id="go">
	<div class="content">
		<div class="col-xs-12">
			<h1 class="home-header">Click here to get started!</h1>
			<div class="row">
				<div class="col-xs-12" id="go-link-wrapper">
					<a href="/request" id="go-link"><i class="fa fa-angle-double-right fa-4x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pull-right inset" id="cta">
	<a href="/request" id="cta-text">
		<p>
			<strong>Request a<br>project!</strong>
		</p>
	</a>
</div>