<div id="join">
	<div class="row static-header">
		<h1>Join Us</h1>
	</div>
	<hr/>
	<div class="row static-subheader">
		<h2><em>Want to be a part of the DiDA team?</em></h2>
		<p>
			Design Interns report to a Project Manager and Mentor, one who assigns projects and other who serves as a role model respectively. The intern position is unpaid for at least one semester, with promotion to full-time paid designer based on performance.
		</p>
	</div>
	<div class="row static-content" id="join-content">
		<h3>Responsibilities</h3>
		<p>All DiDA interns are expected to:</p>
		<ul>
			<li>Meet with clients as needed to discuss their expectations for their design needs and marketing campaigns and to establish realistic project deadlines</li>
			<li>Demonstrate familiarity with DiDA services and policies</li>
			<li>Maintain regular communication with Project Manager and Mentor</li>
		</ul>
		<h3>Characteristics</h3>
		<p>We're looking for the type of designer that:</p>
		<ul>
			<li>Shows motivation to learn more about the principles of design and dedication to improve their design skills on their own</li>
			<li>Demonstrates capabilty and a sense of creativity to go above and beyond the needs of the client</li>
			<li>Has interest in participating in DiDA's social and career events, seminars and workshops</li>
		</ul>
		<h3>Time Commitment</h3>
		<p>
			All DiDA interns should dedicate at least 4 hours per week to DiDA, depending on the nature of the project assigned. These hours should include time spent in the DiDA Cube, located in the UCAE office in the Bryan Center.
		</p>
		<div class="col-lg-6 col-sm-6 join-positions">
			<div class="banner-container">
				<div class="l-triangle-top ribbon-top-1"></div>
				<div class="l-triangle-bottom ribbon-bottom-1"></div>
				<div class="rectangle">
					<h3 class="join-header" id="join-header-1">Print Design Intern</h3>
				</div>
				<div class="r-triangle-top ribbon-top-1"></div>
				<div class="r-triangle-bottom ribbon-bottom-1"></div>
			</div>
			<div class="join-description">
				<b>Qualifications</b>
				<ul>
					<li>Have an understanding of typography, visual hierarchy, visual form and color theory</li>
					<li>Familiarity with the Adobe Creative Suite</li>
					<li>Have knowledge of current design trends</li>
				</ul>
				<b>1-UP Skills</b>
				<ul>
					<li>Traditional media artistic skills (painting, sketching, illustrating)</li>
					<li>Understanding of marketing and branding</li>
					<li>Past experience with graphic design</li>
					<li>Past experience working with clients</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 join-positions">
			<div class="banner-container">
				<div class="l-triangle-top ribbon-top-2"></div>
				<div class="l-triangle-bottom ribbon-bottom-2"></div>
				<div class="rectangle">
					<h3 class="join-header" id="join-header-2">Web Design Intern</h3>
				</div>
				<div class="r-triangle-top ribbon-top-2"></div>
				<div class="r-triangle-bottom ribbon-bottom-2"></div>
			</div>
			<div class="join-description">
				<b>Qualifications</b>
				<ul>
					<li>Have an understanding of typography, visual hierarchy, visual form and color theory</li>
					<li>Have experience designing web pages with HTML and CSS</li>
					<li>Have knowledge of current web design trends</li>
				</ul>
				<b>1-UP Skills</b>
				<ul>
					<li>Understanding of good user interfaces and user experience design</li>
					<li>Web development programming language experience (Javascript, Ruby, PHP, Python, Java)</li>
					<li>Familiarity with using GitHub</li>
					<li>Past experience with web design/development</li>
					<li>Past experience working with clients</li>
				</ul>
			</div>
		</div>
		<div class="col-12 join-cta">
			<div id="join-cta">
				<a id="join-cta-text" href="https://dida.recruiterbox.com/jobs">
					<h3>Apply<br>now!</h3>
				</a>
				<br>
			</div>
		</div>
	</div>
</div>