/*$yellow: #FFCF68; */
/*$charcoal: #3F4247;*/
$white: #ffffff;
/*$red: #FF5649;*/
$black: #222222;
$teal: #BEEBE7;
$off-white: #F2ECEA;



$pink: #FF8283;
$brightyellow: #FFFF83;
$peach: #FFAC83;
$orange: #FFC683;
$green: #00C875;
$brightblue: #38B1D1;
$yellow: #FFD770;
$charcoal: #2C333B;
$darkgrey: #464F5C;
$red: #E85653;
$grey: #E8E8E8;

$bluegrey: #566271;
$lightgrey: #F2F2F2;
$slate: #676F85;