/*$yellow: #FFCF68; */
/*$charcoal: #3F4247;*/
$white: #ffffff;
/*$red: #FF5649;*/
$black: #222222;
/*$teal: #BEEBE7;*/
$off-white: #F2ECEA;


/*$charcoal: #1E2021;
$lightcharcoal: #8A9699;
$lightercharcoal: #373C3D;
$brightblue: #59D8E6;
$medgray: #647678;
$lightgray: #9FBCBF;
$lightblue: #D5FBFF;
$turquoise:#00778f;
$darkgold: #C9974F;
$gold: #FFCC7D;*//*
$lightgold: #E9D1A0;
$lightergold: #FFEAC9;*/



$yellow: #FFD770;
$lightyellow: #FFDE8A;
$lighteryellow: #FFE7AB;
$darkyellow: #BF9C41;
$teal: #3FBEBB;
$dteal: #35ABA8;
$charcoal: #1C2025;
$darkgrey: #464F5C;
$orange: #F8A865;
$dorange: #F8A865;
$lred: #EE7574;
$red: #F05955;
$grey: #F5F7F9;
$bluegrey: #566271;
$lightgrey: #8699B1;
$slate: #676F85;
$turquoise: #45AFCC;
$lightblue: #B0D9FF;
$dturquoise: #0089A7;