/*$yellow: #FFCF68; */
$charcoal: #3F4247;
$white: #ffffff;
/*$red: #FF5649;*/
$black: #222222;
$teal: #BEEBE7;
$off-white: #F2ECEA;


/* $yellow: #F1C462;
$charcoal: #3F4247;
$white: #ffffff;
$red: #FF5649;
$black: #222222;
$teal: #BEEBE7;
$off-white: #F2ECEA; */

/*
$yellow: #FFDA5E;
$blue: #456A7F;*/
$green: #66D1BD;
$red: #FF7766;
$blue: #5E72FF;
$yellow: #FFD85B;
$peach: #FF9C77;
$medblue: #2F397F;
$darkblue: #171C40;
$medlightblue: #4655BF;
$yellowwhite: #FFFDF7;