/*a {
	
}
.heading {
	padding: 15px 25px;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: $black;
	position: relative;
}

.remove-button {
	color: $charcoal;
	background-color: transparent;
	border: none;
	width: 20px !important;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
}

.edit-button {
	color: $charcoal;
	background-color: transparent;
	border: none;
	position: absolute;
	width: 25px !important;
	height: 25px;
	top: 0;
	right: 0;
	margin: 15px;
}

.draggable {
	cursor: move !important;
}

.right-caret {
	margin: 0 10px;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 10px solid #FFFFFF;
	display: inline-block;
	height: 0;
	opacity: 0.3;
	vertical-align: middle;
	width: 0;
}

.status article {
	padding: 8px 10px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.status .led {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	display: inline-block;
}

.dropdown-menu {
	border-radius: 0px;
}
.pull-right {
	background-color: transparent;
}
*/

/*global dashboard*/
body {
	margin-top: 50px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background-color: $lightgrey;
	padding-left: 0;

}

h1,h2,h3,h4,h5,h6,small {
	font-family: 'Open Sans', Helvetica, sans-serif;
	margin: 0px;
	color: $bluegrey;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-family: 'Open Sans', Helvetica;
	font-weight: 200;
	font-size: 1em;
}

a {
	/*color: #26282B;*/
	color: $bluegrey;
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	-ms-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
}
a:hover, a:focus,
a:active{
	text-decoration: none;
}

ul {
	padding-left: 15px;
}

li{
	list-style: none;
	font-family: 'Open Sans';
	font-size: 1.1em;
	line-height: 1.9em;
	font-weight: 200;
	color: $bluegrey;
	a:hover{
		background-color: $yellow;

	}
}

.page-wrapper {
	width: 100%;
	padding: 15px 25px;
}