/*COLORS*/

$yellow: #F1C462;
$charcoal: #3F4247;
$white: #ffffff;
$red: #FF5649;
$black: #222222;


.container {
	width: 90%;
}

h1,h2,h3,h4,h5,h6,small {
	font-family: 'Lato', Helvetica, sans-serif;
	margin: 0px;
	color: $black;
}

h2 {
	font-size: 24px;
}

p {
	font-family: 'Lato', Helvetica;
	font-weight: 300;
}

a {
	color: #26282B;
}

body {
	padding-top: 140px;
	background-color: #FCF6F4;
	font-family: 'Lato', Helvetica, sans-serif;
}

.heading {
	padding: 15px 25px;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: $black;
}

.remove-button {
	color: $white;
	background-color: $charcoal;
	border: none;
	width: 25px !important;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
}

.edit-button {
	color: $white;
	background-color: $charcoal;
	border: none;
	width: 25px !important;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
}

/*.break {
	min-height: 3px;
	background-color: #ffffff;
	width: 100%;
	}*/
	.right-caret {
		margin: 0 10px;
		border-bottom: 10px solid transparent;
		border-top: 10px solid transparent;
		border-left: 10px solid #FFFFFF;
		display: inline-block;
		height: 0;
		opacity: 0.3;
		vertical-align: middle;
		width: 0;
	}


	/*COLORS*/
	.status article {
		padding: 8px 10px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.status .led {
		width: 15px;
		height: 15px;
		border-radius: 100%;
		display: inline-block;
	}

	.dropdown-menu {
		border-radius: 0px;
	}
	.pull-right {
		background-color: transparent;
	}
