.navbar.navbar-inverse {
	background-color: $charcoal;
	border-bottom: 1px solid $grey;
	.navbar-nav {
		.dropdown-menu {
			border-radius: 1px;
			webkit-box-shadow: none;
			box-shadow: none;
			font-family: 'Lato';
			li {
				a {
					line-height: 2em;
				}
			}
		}
	}
	a.navbar-brand{
		color: $white!important;
	}
	.side-nav {
		li {
			color: $charcoal;
			a {
				color: $lightgrey;
				font-weight: 500;
				span {
					color: $bluegrey;
					margin-right: 10px;
				}
			}
		}
	}
	.navbar-user {
		margin: 0 10px;
	}
	li {
		a.dropdown-toggle, .caret {		
			color: $lightgrey;	
		}
		a:hover{
			color: $lightgrey;
		}
		a:focus {
			background-color: $lightgrey;
			span {
				color: $white;
			}
		}

		
	}
}

a.project-nav-btn {
	float: left;
	width: 155px!important;
}

a.dropdown-btn {
	float: right;
	width: 45px!important;
}



/*CREDITS*/

.thanks {
	color: $charcoal;
	li {
		padding: 5px 5px;
		font-size: 10px;
		border-bottom: 1px solid $charcoal;
		color: $charcoal !important;
		a {
			padding: 0;
			color: $charcoal !important;
			display: inline;
		}
	}
}