/*COLORS*/

$yellow: #F1C462;
$charcoal: #3F4247;
$white: #ffffff;

/*SIDEBAR NAVS*/

.sidebar {
	background-color: #3F4247;
	font-weight: 300;
	color: $white;
	padding: 0;
	margin-bottom: 15px;
	h4, a {
		color: $white;
	}
	h2 {
		padding: 15px 25px;
		font-size: 20px;
		background-color: $yellow;
		font-weight: 900;
		text-transform: uppercase;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
		li {
			border-top: 1px solid rgb(92, 92, 92) !important;
			a {
				padding: 15px 25px;
			}
			a:hover{
				background-color: transparent;
				color: $white;
			}
		}
		li:hover {
			background-color: #565961;
			text-decoration: none;
		}
		li:active {
			background-color: #FFCF5C;
			text-decoration: none;
		}
	}
}

	.option a {
		margin-top: 12px;
	}
 

	/*DASHBOARD NAV*/

	.dashboard-nav-glyphicon {
		margin-right: 15px;
	}

	.navbar-nav .active {
		color: #F1C40F;
		li > a:hover {
			color: #F1C40F;
		}
	}

	.navbar-nav {
		li {
			a {
				padding: 25px;
			}
		}
	}

	.navbar-brand {
		padding: 25px;
		font-size: 24px;
	}