/*panels*/
.panel {
	padding-left: 0px;
	border-radius: 2px;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;

	.panel-default {
		border: 1px solid;
		border-top-width: 3px;
		border-color: rgb(225, 227, 229);
		background-color: $white;
		.panel-heading {
			border-color: rgb(225, 227, 229);
		}
		.panel-body {
			ul {
				li {
					line-height: 2.5em;
					div span.glyphicon {
						margin-right: 10px;
						color: $grey;
					}
				}
			}
		}

	}
	.panel-heading {
		color: #999;
		background-color: transparent;
		border-bottom: 1px solid rgb(225, 227, 229);
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
		padding: 15px;
		h3.panel-title {
			line-height: 1.5em;
			padding-left: 5px;
		}
		a {
			width: 100%;
			font-family: "Open Sans";
			font-weight: 500;
			color: $darkgrey;
		}
		button {
			border: none;
			max-width: 30px;
			max-height: 30px;
			background-color: transparent;
			text-align: center;
		}
		span.glyphicon {
			color: $darkgrey;
		}
	}
	.panel-body {
		padding-left: 5px;
		.col-sm-6 {
			padding: 0px;
		}

		ul {
			padding: 15px;
			li {
				padding-left: 15px;
				font-weight: 500;
				a {
					color: $bluegrey;

				}
			}
			li:nth-child(odd) div {
				background-color: $lightgrey;
			}
		}
	}
}

.panel-side-nav {
	border: 1px solid;
	border-color: $slate;
	.panel-heading {
		background-color: lighten($slate, 40%);
	}
	.panel-body {
		padding: 10px 5px;
		background-color: lighten($slate, 40%);
		li:nth-child(odd) {
			background-color: $lightgrey;
		}
		ul {
			padding: 5px;
			li {
				.col-xs-6 {
					padding: 0px;
				}
				padding: 0px;
			}
		}
	} 

}




/*tweaks*/
.divider {
	margin: 10px auto;
	border-bottom: 1px solid #ddd;
}
.draggable {
	cursor: move;
}
.pull-right {
	font-weight: 200;
}
.bold {
	font-weight: 500!important;
}

.clear {
	clear: both;
}
span.glyphicon {
	margin: 3px;
}
/*status*/
.project-not-started {
	background-color: $pink;
}
.status-final {
	background-color: $orange;
}

/*Buttons*/
.create {
	margin-top: 10px;
	a {
		background-color: $grey;
	}

	a:hover{
		-webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
		box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
	}
}
