/*COLORS*/

$yellow: #F1C462;
$charcoal: #3F4247;
$black: #222222;
$white: #ffffff;
$red: #FF5649;


/*PROJECTS*/
#archived {
	background-color: #6B99BF;
}

#unassigned {
	background-color: $red
}

#assigned {
	background-color: #13C4A5;
}

.project-group {
	margin-bottom: 30px;
	padding: 30px;
	background-color: $charcoal;
	.project {
		margin-bottom: 30px;
		background-color: $white;
		background-image: none;
		position: relative;
		padding: 30px;
		a {
			color: $black;
		}
	}
}