ul.team-list{
	list-style:none;
	padding:0;
	min-height:12em;
}
ul.team-list li:nth-child(2n){
	background-color:#a6dbed;
}
.teams{
	margin:10px;
	background-color: #BEEBE7;
	position: relative;
	button {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
	}
}
li {
	cursor:move;
}
.teams h2 {
	color: #ffffff;

}
