/*COLORS*/

$yellow: #F1C462;
$charcoal: #3F4247;
$white: #ffffff;
$red: #FF5649;
$black: #222222;
$teal: #BEEBE7;


.teams {
	background-color: $charcoal;
	position: relative;
	.team-label {
		background-color: $teal;
	}
	.team-wrapper {
		padding: 30px;
		.team-list {
			padding: 0;
			list-style: none;
			min-height: 12em;
			li {
				.designer {
					margin-bottom: 30px;
					padding: 30px;
					background-color: $white;
				}
			}
		}

	}
	
}
