<ul class="thanks dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li>
		<a href="http://thenounproject.com/noun/responsive-design/#icon-No18986" target="_blank">Responsive Design</a> designed by <a href="http://thenounproject.com/nsteve" target="_blank">Nithin Viswanathan</a> from The Noun Project
	</li>
	<li>
		<a href="http://thenounproject.com/noun/type-design/#icon-No3759" target="_blank">Type Design</a> designed by <a href="http://thenounproject.com/andrewjyoung" target="_blank">Andrew J. Young</a> from The Noun Project
	</li>
	<li>
		<a href="http://thenounproject.com/noun/wink/#icon-No11335" target="_blank">Wink</a> designed by <a href="http://thenounproject.com/paulfeltoe" target="_blank">Paul F.</a> from The Noun Project
	</li>
	<li><a href="http://thenounproject.com/noun/tshirt/#icon-No5277" target="_blank">Tshirt</a> designed by <a href="http://thenounproject.com/iosonochiaro" target="_blank">Pasquale Ottaiano</a> from The Noun Project</li>
	<li><a href="http://thenounproject.com/noun/happy/#icon-No11332" target="_blank">Happy</a> designed by <a href="http://thenounproject.com/paulfeltoe" target="_blank">Paul F.</a> from The Noun Project</li>
	<li>
		<a href="http://thenounproject.com/noun/cry/#icon-No11331" target="_blank">Cry</a> designed by <a href="http://thenounproject.com/paulfeltoe" target="_blank">Paul F.</a> from The Noun Project
	</li>
	<li>
		<a href="http://thenounproject.com/noun/thrilled/#icon-No11338" target="_blank">Thrilled</a> designed by <a href="http://thenounproject.com/paulfeltoe" target="_blank">Paul F.</a> from The Noun Project
	</li>
	<li>
		<a href="http://thenounproject.com/noun/heart/#icon-No1308" target="_blank">Heart</a> designed by <a href="http://thenounproject.com/johncaserta" target="_blank">John Caserta</a> from The Noun Project
	</li>
	<li><a href="http://thenounproject.com/noun/money/#icon-No8174" target="_blank">Money</a> designed by <a href="http://thenounproject.com/lemonliu" target="_blank">Lemon Liu</a> from The Noun Project</li>
	<li><a href="http://thenounproject.com/noun/close/#icon-No18932" target="_blank">Close</a> designed by <a href="http://thenounproject.com/Icomatic" target="_blank">Icomatic</a> from The Noun Project</li>
</ul>