<div class="navbar navbar-fixed-top topnav navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
			<a class="navbar-brand">DiDA</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/projects"><span class="dashboard-nav-glyphicon glyphicon glyphicon-th-list"></span>Projects</a>
				</li>
				<li>
					<a href="/calander"><span class="dashboard-nav-glyphicon glyphicon glyphicon-calendar"></span>Calendar</a>
				</li>
				<li>
					<a href="/time"><span class="dashboard-nav-glyphicon glyphicon glyphicon-time"></span>Time</a>
				</li>
				<li>
					<a href="/teams"><span class="dashboard-nav-glyphicon glyphicon glyphicon-star"></span>Team</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.first_name %> <%= current_user.last_name %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu"><li><a href="/settings">Settings</a></li><%= render 'devise/menu/login_items' %>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>