<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
		<a href="/projects" class="navbar-brand">DiDA</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav side-nav">
			<li class="dropdown">
				<a href="/projects" class="project-nav-btn"><span class="dashboard-nav-glyphicon glyphicon glyphicon-list"></span>Projects</a>
				<a href="/projects" class="dropdown-toggle dropdown-btn" data-toggle="dropdown"><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#unassigned">Unassigned</a></li>
					<li><a href="#assigned">Assigned</a></li>
					<li><a href="#archived">Archived</a></li>
				</ul>
			</li>
			<li>
				<a class="clear" href="/calendar"><span class="dashboard-nav-glyphicon glyphicon glyphicon-calendar"></span>Calendar</a>
			</li>
				<!-- <li><a href="/time"><span class="dashboard-nav-glyphicon glyphicon glyphicon-time"></span>Time</a></li> -->
				<li>
					<a href="/teams"><span class="dashboard-nav-glyphicon glyphicon glyphicon-star"></span>Team</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right navbar-user">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dashboard-nav-glyphicon glyphicon glyphicon-user"></span><span class="navbar-user"><%= current_user.first_name %> <%= current_user.last_name %></span><b class="caret"></b></a>
					<ul class="dropdown-menu"><li><a href="/settings">Settings</a></li><%= render 'devise/menu/login_items' %>
					</ul>
				</li>
			</ul>
		</div>
	</div>