      <div class="sidebar hidden-print" data-spy="affix">
       <ul class="nav sidenav" id="sidenav">
        <li><a href="#unassigned">Unassigned</a></li>
        <li><a href="#assigned">Assigned</a></li>
        <li><a href="#archived">Archived</a></li>
      </ul><!-- end project type list -->

    </div>