<div class="sidebar affix">
	<ul class="nav sidenav">
		<li><a href="#unassigned">Unassigned</a></li>
		<li><a href="#assigned">Assigned</a></li>
		<li><a href="#archived">Archived</a></li>
	</ul>
</div>