<div class="panel panel-side-nav" ng-controller="TeamIndexController">
<div class="panel-heading">
	<h3 class="panel-title">Teams</h3>
	</div>
	<div class="panel-body">
	<ul class="sidenav nav">
		<li class="draggable" ng-repeat="team in teams">
			<a>{{team.name}}</a>
		</li>
		<% if current_user.has_role? :admin %>
		<li class="create btn"><a class="option" data-toggle="modal" data-target="#create-team">New Team</a></li>
		<% end %>
	</ul>

	</div>
</div>

<div class="modal fade" id="create-team" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="create-team-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="create-team-label">Create A Team</h4>
			</div>
			<%= simple_form_for @team do |f| %>
			<div class="modal-body">
				<%= f.input :name %>
			</div>
			<div class="modal-footer">
				<%= f.submit "Submit", :class => "btn" %>
			</div>
			<% end %>
		</div>
	</div>
</div>